# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native builds and credentials
ios/
android/
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro bundler
.metro-health-check*

# Package manager logs
npm-debug.*
yarn-debug.*
yarn-error.*
pnpm-debug.*

# Operating System files
.DS_Store
Thumbs.db
*.pem

# Environment variables (Crucial for security)
.env
.env.local
.env.development
.env.production
.env.staging
.env*.local

# TypeScript build cache
*.tsbuildinfo

# Temporary example folders
example/
_temp_docs/
